<div class="header">
    <div class="header-container">
        
        <div class="header-menu">
            <div class="dot">-</div>
            <div class="dot">-</div>
            <div class="i18n-top header-menu-item menu-active" onclick="menuSwitcher(0)">TOP</div>
            <div class="dot">-</div>
            <div class="i18n-works header-menu-item menu-noactive" onclick="menuSwitcher(1)">WORKS</div>
            <div class="dot">-</div>
            <div class="i18n-blogs header-menu-item menu-noactive" onclick="menuSwitcher(2)">BLOGS</div>
            <div class="dot">-</div>
            <div class="header-menu-item menu-noactive"><a class="i18n-about" href="/about">ABOUT</a></div>
            <div class="dot">-</div>
            <div class="dot">-</div>
        </div>
        
        <div id="header-overlay" class="header-overlay"></div>
        <div class="header-hero">
            <video autoplay="" loop="" muted="" playsinline="" data-bind="lazy-video" data-ll-status="loaded"
                class="entered is-loaded">
                <source data-src="/assets/videos/hero-bg.mp4" type="video/mp4" src="/assets/videos/hero-bg.mp4">
            </video>
        </div>
    </div>
</div>